<div class="center">
  <h3 style="margin-top: 75px;">Continder</h3>
  <p>Continder is a work in progress.</p>
  <p>This is a place where people who love the tinder app can come and tell stories about encounters they've had with others.</p>
</div>