<div class="center">
  <h1>Continder</h1><br />
  <p>Continder is a work in progress.</p><br />
  <p>This is a place where people who love the tinder app can come and tell stories about encounters they've had with others.</p>
</div>