<div class="center container-narrow"
	<div>
		<h2>Let's hear it!</h1>
		<h2>or you can <%= link_to '<button class="btn">Start Voting</button>'.html_safe, root_path %></h1>
	</div>
	<div style="text-align: center;">
	<%= render 'form', button_name: 'Create Continder' %>

	<%= link_to 'Back', root_path %>
	</div>
</div>
