<div class="footer">
  <div class="container">
    <nav class="center">
      <div class="small">
        <p>by <%= link_to "Bill Kernan", "http://blog.wkernan.com" %></p>
        <p>Tinder and the Tinder logo/design are trademarks of Tinder, Inc.</p>
        <p>This website is not sponsored by nor affiliated in any way with Tinder, Inc.</p>
      </div> 
  </div>
</div>